<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal</title>
</head>
<body>


<form action="#" method="post">
    <check if="{{ isset(@errors['animal'])}}">
        <p>{{ @errors['animal']}}</p>
    </check>

    <label>Animal
        <input type="text" name="animal" value="{{ @animal }}">
    </label>

    <check if="{{ isset(@errors['qty']) }}">
        <p>{{ @errors['qty'] }}</p>
    </check><br><br>
    <label>Quantity
        <input type="text" name="qty" value="{{ @qty }}">
    </label>

    <input type="submit" value="Next">
</form>




</body>
</html>